# Ignore compiled files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
.env/

# Ignore local settings or credentials
*.env
*.local

# Ignore some other files
high_scores.csv
notes.txt

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs or temporary files
*.log
*.tmp
